.App {
text-align: center;
background-color:#1A1A1D;
}

.header {
    color: #4E4E50;
}

form {
    min-height: 40vh;
}

.label{
display: block;
font-size: larger;
color: white;
padding: 5px;
}

.input{
font-size: larger;
padding: 5px;
margin: 2px;
border-radius: 0.5rem;
border: 2px solid #c3073f;
background-color: #1A1A1D;
color: white;
transition: 0.5s ease;;
}

.input:focus {
    background-color: #c3073f;
}

.btns{
color: white;
background-color: transparent;
border-color: #c3073f;
border-radius: 0.5rem;
font-size: larger;
display: block;
padding: .5rem 1rem;
margin: 1rem 1rem;
transition: 0.5s ease;
}

.btns:hover{
    transform: scale(1.05);
    box-shadow: 0 0 .5rem #c3073f;
}


.buttonDiv {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.signin {
    color: white;
    display: inline-block;
    justify-content: center;
    text-align: center;
}

.messages{
display: flex;
justify-content: center;
}

.parentError {
    display: inline;
    gap: 5rem;
}

.error {
display: block;
color: rgb(255, 255, 255);
width: fit-content;
height: 50px;
padding: 5px;
border-radius: 0.5rem;
margin-bottom: 1rem;
}

.passError {
  font-size: 1rem;
}

.success{
display: block;
color: white;
width: fit-content;
height: 50px;
padding: 5px;
margin-bottom: 1rem;
}

table {
    min-height: 20vh;
    color: white;
    border-spacing: 0;
    background-color: #1A1A1D;
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
  }
  
  table tr {
    border: 2px solid #c3073f;
    border-top: 2px solid #c3073f;
    padding: 20px;
  }

  table thead th {
    padding: 10px;
  }
  
  table td {
    padding: 20px;
  }

  .navBar {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
  }

  .navBar a {
    border: 2px solid #c3073f;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    margin-top: 1rem;
    margin-right: 3rem;
    transition: 0.5s ease;
  }

  a:hover {
    transform: scale(1.1);

  }
  
